{% extends "base.html" %}
{% load static %}

{% block ng-app %}ng-app="taskboard"{% endblock %}

{% block ng-controller %}ng-controller="TaskController"{% endblock %}

{% block content %}
      {% verbatim %}
      <table class="table table-bordered">
        <thead>
          <tr>
            <th ng-repeat="column in board.columns">{{ column.name }}</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td class="task-column" ng-repeat="column in board.columns" ui-multi-sortable ng-model="board" model-subset="columns[{{ $index }}].tickets">

                <div class="task well" ng-repeat="item in column.tickets">
                  <span>{{ item.name }}</span>
                  <hr class="dotted">
                  <span>Mr X</span>
                  <div class="progress">
                    <div class="progress-bar" role="progressbar" aria-valuenow="{{ item.progress }}" aria-valuemin="0" aria-valuemax="100" style="width: {{ item.progress }}%;">
                      <span class="sr-only">{{ item.progress }}% Complete</span>
                    </div>
                  </div>
                </div>

            </td>
          </tr>
        </tbody>
      </table>

      {{ board|json}}
      {% endverbatim %}

      <div class="row">
        <div span="span12">
          <a href="{% url "new-column" project.id %}" class="btn">Add a column</a>
        </div>
      </div>

{% endblock %}


{% block extra-js %}
    <script src="{% static 'js/angular-1.0.7.js' %}"></script>
    <script src="{% static 'js/angularui-0.4.0.js' %}"></script>
    <script src="{% static 'js/multiSortable-0.0.2.js' %}"></script>
    <script src="{% static 'js/angular-django-rest-resource.js' %}"></script>

    <script type="text/javascript">
      (function(){

        angular.module('ui.config', []).value('ui.config', {
          sortable: {
            connectWith: '.task-column'
          }
        });

        this.taskboard = angular.module('taskboard', ['ui', 'djangoRESTResources']).config(function($httpProvider) {
    $httpProvider.defaults.headers.common['X-CSRFToken']='{{ csrf_token }}';
});

        this.TaskController = function($scope, djResource) {
          var project = djResource('/kanban/projects/:projectId/', {projectId:'@id'});

          {% comment %}
          $scope.board = {
            id: {{ project.id }},
            name: '{{ project.name }}',
            columns: [
              {% for column in project.columns.all %}
                {
                  id: {{ column.id }},
                  name: '{{ column.name }}',
                  tickets: [
                    {% for ticket in column.tickets.all %}
                      {
                        id: {{ticket.id}},
                        name: '{{ ticket.name }}',
                        progress: {{ ticket.progress }}
                      },
                    {% endfor %}
                ]
                },
              {% endfor %}
            ]
          };
          {% endcomment %}

          var demo = function(newValue, oldValue, scope) {
            if ($scope.board != {}) {
              project.update({projectId:{{ project.id }}}, $scope.board);
            }
          }

          $scope.board = project.get({projectId:1});

          $scope.$watch('board', demo, true);
        };

      }).call(this);
    </script>
{% endblock %}